name: .NET Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    name: .NET Build & Test
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.201'
      - name: Install Dependencies
        run: cd src && dotnet restore
      - name: Build
        run: cd src && dotnet build --configuration Release --no-restore        
      - name: Test
        run: |
          printenv
          cd ./tests/ChaosComposer.UnitTests/
          dotnet test --no-restore /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./tests/ChaosComposer.UnitTests/TestResults/coverage.info
